<h2>Top 20 Games - <%= link_to 'See All Games', games_path %> </h2>
<ol>
    <% @games.each do |game| %>
        <li><%= link_to game.name, game %></li>
    <% end %>
</ol>
<h2>Platforms - <%= link_to 'See All Platforms', platforms_path %></h2>
<ul>
    <% @platforms.each do |platform| %>
        <li><%= link_to platform.name, platform %></li>
    <% end %>
</ul>
<h2>Genres - <%= link_to 'See All Genres', genres_path %></h2>
<ul>
    <% @genres.each do |genre| %>
        <li><%= link_to genre.name, genre %></li>
    <% end %>
</ul>
<h2>Publishers - <%= link_to 'See All Publishers', publishers_path %></h2>
<ul>
    <% @publishers.each do |publisher| %>
        <li><%= link_to publisher.name, publisher %></li>
    <% end %>
</ul>