<% content_for(:html_title) { @game.name } %>

<div class="row">
    <h3><%= @game.name %></h3>
    <h4>Sales: <%= @game.sales %> million</h4>
</div>
<div class="row">
    <div class="four columns">
        <h5>Year: <%= @game.year %></h5>
    </div>
    <div class="four columns">
        <h5>Genre: <%= link_to @game.genre.name, @game.genre %></h5>
    </div>
    <div class="four columns">
        <h5>Publisher: <%= link_to @game.publisher.name, @game.publisher %></h5>
    </div>
</div>
<h5>Platforms: </h5>
<ul>
    <% @game.platforms.each do |platform| %>
        <li><%= link_to platform.name, platform %></li>
    <% end %>
</ul>
<%= link_to 'All Games', games_path %>