<h1>Best Selling Video Games</h1>
<h2><%= @game.name %></h2>
<h3>Sales: <%= @game.sales %> million</h3>
<p>Year: <%= @game.year %></p>
<p>Genre: <%= @game.genre.name %></p>
<p>Platforms: </p>
<ul>
    <% @game.platforms.each do |platform| %>
        <li><%= link_to platform.name, platform %></li>
    <% end %>
</ul>
<%= link_to 'All Games', root_path %>