<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= yield(:html_title) + ' - ' if content_for(:html_title) %>Best Selling Video Games</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'common/nav' %>
    <main>
      <div class="container">
        <div class="nine columns">
          <%= yield %>
        </div>
        <div class="three columns">
          <%= render partial: 'common/side', locals: { genres: @sidebar_genres, platforms: @sidebar_platforms, games: @sidebar_games } %>
        </div>
      </div>
    </main>
  </body>
</html>

