<!DOCTYPE html>
<html>
  <head>
    <title>TopVideoGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'common/nav' %>
    <main>
      <div class="container">
        <div class="twelve columns">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
